@media (max-width: 576px){
	section.header .navbar .navbar-toggler{
		padding: 0px !important;
	}
	section.header .navbar{
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	 section.header .logo-left img{
		width: auto !important;
		height: 50px !important;
	}
	section.header .navbar-collapse .button-right{
		text-align: center !important;
		padding:  15px 0px; 
	}
	section.header .navbar-collapse .button-right .btn-register-login-1{
		padding: 15px !important;
		font-size: 16px !important;
	}
	section.header .navbar-collapse .button-right .btn-register-login{
		font-size: 16px !important;
	}
	section.header .navbar-collapse .button-right .btn-diventa{
   		 font-size: 16px !important;
	}
	section.header .navbar-collapse .button-right .drop-menu .dropdown-menu{
     	border:0px;
	}
	section.header .navbar-collapse .button-right .nav-diventa{
		padding-right: 0px !important;
	}
	section.header .navbar-collapse .button-right .nav-button{
		padding-top: 0px !important;
	}
	section.header .navbar-collapse .button-right .img-nav{
		display: none !important;
	}
	section.header .navbar-collapse .button-right .drop-menu{
		padding-top: 0px !important;
	}
	section.header .navbar-collapse .button-right .drop-menu a{
		padding-left: 0px !important;
		padding-top: 15px !important;
	}
	section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn-primary{
		padding-left: 10px !important;
		padding-top: 0px !important;
	}
	section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn-primary,
	section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn{
		font-size: 16px !important;
	}
	section.header .navbar-collapse .button-right .event-drop .event-drop-menu{
		font-size: 16px !important;
		padding: 7.3px 36.5px !important;
		margin: 0 auto;
		display: inline-block !important;
	}
	section.header .navbar-collapse .button-right .event-drop .event-drop-menu img.icon-plus{
		height: 16px !important;
		margin-top: -4px !important;
	}
	section.header .navbar-collapse .button-right .event-drop .dropdown-right{
		width: auto !important;
		box-shadow: none !important;
		border:0px !important;
	}
	section.header .navbar-collapse .button-right .event-drop .dropdown-right a{
		font-size: 16px !important;
		display: inherit !important;
		padding: 15px;
	}
	section.header .navbar-collapse .button-right .event-drop .dropdown-right a img{
		 float: right !important;
	}
	section.header .navbar-collapse .button-right .event-drop{
		margin-top: 10px;
		margin-right: 0px !important;

	}
	section.header .navbar-collapse .button-right .drop-menu .dropdown-menu{
		width: auto !important;
		box-shadow:none !important;
		border:0px !important;
		margin-top: 0px !important;
	}
	section.header .navbar-collapse .button-right .drop-menu .dropdown-menu a,
	section.header .navbar-collapse .button-right .drop-menu .dropdown-menu form button{
		font-size: 16px !important;
		padding-top: 15px !important;
	}
	section.home-img-block{
		margin-top: 0px !important;
		background-size: cover !important;
	    height: 300px !important;
	    overflow: hidden;
	}
	section.footer .icon-block,
	section.footer .footer-text-button{
		text-align: center !important;
	}
	section.home-content-menu form input,
	section.home-content-menu .cersa{
		margin-top: 15px !important;
	}

	section.home-content-menu .container-fluid{
		padding: 20px 40px 40px 40px !important;

	}
	section.home-content-menu h4{
		font-size: 28px !important;
	}
	section.home-content-menu .container .section-3-input{
		padding: 30px 25px !important;
	}
	section.home-content-menu .search-block input,
	.js-events-index .search-block .select2-container--krajee .select2-selection--single{
		padding-left: 40px !important;
		background-position: left 4% bottom 50% !important;
		background-size: 15px 15px !important;
	}
	section.home-content-menu .search-block input:focus,
	section.home-content-menu .search-block input:hover,
	.js-events-index .search-block .select2-container--krajee .select2-selection--single:hover,
	.js-events-index .search-block .select2-container--krajee .select2-selection--single:focus{
		background-position: left 4% bottom 50% !important;
		background-size: 15px 15px !important;
	}
	section.home-content-menu form .form-data,
	.js-events-index form .form-data{
		padding-left: 50px !important;
		background-position: left 4% bottom 57% !important;
		background-size: 15px 15px !important;
		padding-left: 40px !important;
	}
	section.home-content-menu .form-group{
		margin-bottom: 0px !important;
	}
	section.home-content-menu form .form-data:focus,
	section.home-content-menu form .form-data:hover,
	.js-events-index form .form-data:hover,
	.js-events-index form .form-data:focus{
		background-position: left 4% bottom 57% !important;
		background-size: 15px 15px !important;
	}
	section.home-content-menu form .form-dove,
	.js-events-index form .form-dove{
		padding-left: 40px !important;
		background-position: left 4% bottom 50% !important;
		background-size: 15px 15px !important;
	}
	section.home-content-menu form .form-dove:focus,
	section.home-content-menu form .form-dove:hover,
	.js-events-index form .form-dove:focus,
	.js-events-index form .form-dove:hover{
		background-position: left 4% bottom 50% !important;
		background-size: 15px 15px !important;
	}
	section.hai-una .rigt-block-text h5{
		font-size: 34px !important;
		padding-bottom: 25px !important;
	}
	section.hai-una .rigt-block-text{
		padding-top: 25px !important;
	}
	section.hai-una .rigt-block-text p{
		font-size: 20px !important;
		padding-left: 29px !important;
		padding-right: 29px !important;
		padding-bottom: 10px !important;
	}
	section.hai-una .main-triangle img{
		width: 100% !important;
		height: 100% !important;
	}
	section.rerche-sofan .features-section{
		padding: 0px !important;
		text-align: center;
	}
	section.rerche-sofan .perche-block{
		padding: 30px 15px !important;
	}
	section.rerche-sofan .perche-block .hosts{
		padding-top: 25px;
	}
	section.rerche-sofan h4{
		padding-top: 18px !important;
	}
	section.rerche-sofan p{
		font-size: 18px !important;
		padding: 0px 40px !important;
		line-height: 25px !important;
	}
	section.footer .footer-b-t{
	    padding: 15px 15px 0px !important;
	}
	section.footer .select-block{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	section.footer div .row .diventa{
		padding-left: 15px !important;
	}
	section.footer div .row .termini{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	section.footer div .row .sofan{
		padding-left: 15px !important;
	}
	section.footer p{
		line-height: 20px !important;
	}
	section.footer .icon-block a img{
		height: 15px !important;
		width: 15px !important;
	}
	section.footer .button-footer{
		padding: 10px 0px !important;
	}
	.js-events-index .search-block{
		padding-left: 15px !important;
	}
	.js-events-index .left-menu{
		padding-left: 0px;
	}
	.js-events-index .img-block-upload{
		margin-top: 30px !important;
	}

	.events-index ul{
		display: inherit !important;
		margin: 0 auto;
	}
	.events-index nav{
		text-align: center;
	}
	.events-index ul li{
		padding-right: 15px;
	}
	.events-index .left-block{
		text-align: center;
	}
	.events-index .red-opacity-block{
		margin-top: 12px !important;
	}
	.events-index .two-half{
		padding-top: 15px !important;
	}
	.events-index .four-block{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.events-index .first-block p{
		font-size: 18px !important;
	}
	.events-index .first-block .icon-right{
		margin-top: -5px;
	}
	.events-index .four-block p{
		font-size: 12px !important;
	}
	.events-index .first-block{
		padding-bottom: 10px;
	}
	.events-index .three-block{
		padding-bottom: 5px;
	}
	.events-index .creo-evento{
		font-size: 14px !important;
	}
	
	.default-host-page .right-block-host .button-block .btn-location,
	.default-host-page .right-block-host .button-block .btn-modifica{
		width: 70% !important;
		padding: 15px 35px !important;
		margin-bottom: 15px !important;
	}
	.default-host-page .right-block-host .button-block {
		padding-top: 25px !important;
		text-align: center;
	}
	.default-host-page .btn-aggiungi{
		width: 70% !important;
		padding: 15px 35px !important;
	}
	.default-host-page .right-button{
		text-align: center;
	}
	.default-host-page .right-block-host .location-block .image-block img{
		height: 80% !important;
	    border-top-left-radius: 100px !important;
	    border-top-right-radius: 100px !important;
	    border-bottom-left-radius: 100px !important;
	    border-bottom-right-radius: 100px !important;
	}
	.default-host-page .right-block-host .adress-block h6{
		font-size: 24px !important;
		text-align: center !important;
		line-height: 40px !important;
	}
	.default-host-page .right-block-host .name h6{
		font-size: 28px !important;
		text-align: center;
		padding: 30px;
	}
	.default-host-page .right-block-host .adress-block{
		padding-top: 0px !important;
	}
	.default-host-page .right-block-host .button-block,
	.default-host-page .right-block-host .location-block .image-block {
		text-align: center !important;
	}
	.default-host-page .right-block-host .location-block .image-block img{
		width: 100% !important;
	}
	.default-host-page .right-button .location-block-button{
		text-align: center !important;
	}
	.delete-account .right-block{
	    padding-right: 15px !important;
	}
	.delete-account .select-block{
		padding-right: 0px;
	}
	.delete-account .btn-delete{
		font-size: 14px !important;
	}
	.password-page .password-form-block .label-text{
		text-align: left !important;
	}
	.password-page .password-form-block h6,
	.password-page .password-form-block text,
	.password-page .password-form-block label,
	.password-page .password-form-block .btn-salva{
		font-size: 14px !important;
	}
	.password-page .right-block{
		padding-right: 15px !important;
	}
	.password-page form{
		padding-top: 15px !important;
	}

	.site-content .left-dashboadr-block .avatar-block{
		text-align: center;
	}
	.site-content .left-dashboadr-block .info-block{
		padding: 10px 5px 0px 10px !important;
	}
	.site-content .left-dashboadr-block .info-block h6{
		text-align: center;
	}
	.site-content .left-dashboadr-block .info-block a{
		font-size: 14px !important;
		padding-top: 10px !important;
	}
	.site-content .left-dashboadr-block .info-block h6{
		font-size: 22px !important;
	}
	.site-content .left-dashboadr-block{
		padding: 15px !important;
	}

	.site-content .dachboadrd-block img{
		width: auto !important;
		height: 50px !important;
	}
	.site-content .dachboadrd-block .delete-icon img{
		height: 25px !important;
	}
	.site-content .dachboadrd-block .date{
		margin-top: 0px !important;
	}
	.site-content .dachboadrd-block .text-block{
		padding-left: 15px !important;
		padding-right: 41px !important;
	}
	.site-content .right-block,
	.site-content .right-block-2{
		padding-top: 30px !important;
		padding-left: 10px;
	}
	.home-content-menu .index-input-block{
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}

	.site-content img.block-bottom-img{
		width: auto !important;
	    height: 20px !important;
	    left: 0px;
	    margin-left: 15px;
	}
	.site-content .dachboadrd-block{
		height: 140px !important;
		border-radius: 100px !important;
	}
	.site-content .dachboadrd-block .date{
		padding-right: 71px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.site-content .dachboadrd-block .d-not-button-block{
		padding-top: 0px !important;
	}

	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.time{
		padding-top: 0px !important;
	}
	
	.events-index .three-block,
	.events-index .four-block{
		padding-top: 3px !important;
	}
	.events-index .first-block{
		padding-top: 10px;
	}
	.events-index .text-name-block h6{
		font-size: 14px !important;
	}
	.whigth-right-block .select-block{
		padding-left: 15px !important;
	}
}

@media (min-width: 576px) and (max-width: 768px){

	#signupModal .modal-dialog,
	#loginModal .modal-dialog{
	    max-width: auto !important;
	}

	.delete-account .right-block{
	    padding-right: 15px !important;
	}
	section.header div nav{
		padding-top: 5px ;
		padding-bottom:5px;
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	section.home-img-block{
		margin-top: 0px !important;
		background-size: cover !important;
	    height: 300px !important;
	    overflow: hidden;
	}
	section.header .logo-left img{
		width: 100px !important;
		height: 35px !important;
	}
	section.header .navbar-collapse .button-right .btn-diventa{
   	 padding: 7.5px 32px !important;
	}
	section.header .navbar-collapse .button-right .nav-button{
		padding-top: 0px !important;
	}
	.header .button-right{
		text-align: center !important;
	}
	section.header .navbar-collapse .button-right .red-box{
		top:7px !important;
		right: 34px !important;
	}
	.header .button-right .btn-register-login{
		margin-top: 0px !important;
	}

	section.header .navbar-collapse .button-right .event-drop .event-drop-menu{
	    padding: 7.5px 28px !important;
	    margin-right: 10px;
	}
	section.header .navbar-collapse .button-right .event-drop .dropdown-right{
		margin-top: 10px !important;
	}
	.btn-sofan{
		border-radius: 45px !important;
	}

	section.home-content-menu .search-block input,
	.js-events-index .search-block .select2-container--krajee .select2-selection--single{
		padding-left: 38px !important;
		background-position: left 3% bottom 55%!important;
	}
	section.home-content-menu .search-block input:focus,
	section.home-content-menu .search-block input:hover,
	.js-events-index .search-block .select2-container--krajee .select2-selection--single:focus,
	.js-events-index .search-block .select2-container--krajee .select2-selection--single:hover{
		background-position: left 3% bottom 55%!important;
	}
	section.home-content-menu form .form-data,
	.js-events-index form .form-data{
		padding-left: 34px !important;
		background-position:  left 6% bottom 56% !important ;
	}
	section.home-content-menu form .form-data:focus,
	section.home-content-menu form .form-data:hover,
	.js-events-index form .form-data:focus,
	.js-events-index form .form-data:hover{
		background-position:  left 6% bottom 56% !important ;
	}
	section.home-content-menu form .form-dove,
	.js-events-index form .form-dove{
		padding-left: 38px !important;
   		background-position:  left 6.5% bottom 52% !important ;
	}
	section.home-content-menu form .form-dove:focus,
	section.home-content-menu form .form-dove:hover,
	.js-events-index form .form-dove:focus,
	.js-events-index form .form-dove:hover{
   		background-position:  left 6.5% bottom 52% !important ;
	}

	section.home-content-menu form input,
	section.home-content-menu .cersa{
		margin-top: 10px !important;
	}

	section.home-content-menu .dove-block,
	.block-search .input-block-sof .dove-block{
		padding-right: 7.5px;
	}
	section.home-content-menu .data-block,
	.block-search .input-block-sof .data-block{
		padding-left: 7.5px;
	}
	section.hai-una .rigt-block-text h5{
		font-size: 22px !important;
		padding-bottom: 22px !important;
	}
	section.hai-una .rigt-block-text .btn-sofan{
	    padding:7.87px 44.1px !important;
	    font-size: 11px !important;
	}
	section.hai-una .rigt-block-text{
		padding-top: 15px !important;
	}
	section.hai-una .rigt-block-text p{
		font-size: 14px !important;
		padding: 0px 0px 15px 0px !important;
	}
	section.hai-una .main-triangle img{
		width: 100% !important;
		height: 100% !important;
	}
	section.hai-una .row{
		padding: 15px !important;
	}
	section.rerche-sofan .container-fluid{
		padding: 55px 100px !important;
	}
	section.rerche-sofan .hosts{
	padding-left: 15px !important;
    padding-right: 15px !important;
	}
	section.rerche-sofan h4{
		font-size: 20px !important;
		padding-top: 35px !important;
	}
	section.rerche-sofan p{
		font-size: 10px !important;
		line-height: 15px !important;
	}

	section.rerche-sofan .container-fluid h2{
		font-size: 30px !important;
	}
	section.footer .select-block{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	section.footer div .row .diventa{
		padding-left: 15px !important;
	}
	section.footer div .row .termini{
		padding-left: 15px !important;
	}
	section.footer div .row .sofan{
		padding-left: 15px !important;
	}

	section.footer .icon-block a img{
		height: 15px !important;
		width: 15px !important;
	}
	.js-events-index .left-menu{
		padding-left: 0px !important;
	}
	.js-events-index .search-block{
		padding-left: 15px !important;
	}
	.js-events-index .img-block-upload{
		margin-top: 30px !important;
	}
	.events-index ul{
		display: inherit !important;
	}
	.events-index nav{
		display: inline-block;
		text-align: center;
	}
	.events-index ul li{
		padding-right: 15px;
	}
	.events-index .left-block{
		text-align: center;
	}
	.events-index .red-opacity-block{
		margin-top: 12px !important;
	}
	.events-index .two-half{
		padding-top: 15px !important;
	}
	.events-index .four-block{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	
	.default-host-page .right-block-host .button-block .btn-location,
	.default-host-page .right-block-host .button-block .btn-modifica{
		width: auto !important;
		padding: 15px 35px !important;
		margin-bottom: 0px !important;
	}
	.default-host-page .right-block-host .button-block {
		padding-top: 25px !important;
		text-align: center;
	}
	.default-host-page .btn-aggiungi{
		width: auto !important;
		padding: 15px 35px !important;
	}
	.default-host-page .right-block-host .button-block,
	.default-host-page .right-block-host .location-block .image-block {
		text-align: center !important;
	}
	.default-host-page .right-block-host .location-block .image-block img{
		width: auto !important;
	}
	.password-page .button-salva-block{
		padding-left: 10px !important;
	}
	.password-page form{
		padding-top: 15px !important;
	}
	.password-page .right-block{
		padding-right: 15px !important;
	}

	.site-content .left-dashboadr-block .avatar-block{
		text-align: center;
	}
	.site-content .left-dashboadr-block .info-block{
		padding: 10px 5px 0px 10px !important;
	}
	.site-content .left-dashboadr-block .info-block h6{
		text-align: center;
	}
	.site-content .left-dashboadr-block section.verifiche-block .text{
		font-size: 16px !important;
	}
	.site-content .left-dashboadr-block .avatar-block img{
	    width: 100px !important;
	    height: 100px !important;
	}
	.site-content .left-dashboadr-block .info-block h6{
		font-size: 24px !important;
	}
	.site-content .left-dashboadr-block .info-block a{
		font-size: 16px !important;
		padding-top: 10px !important;
	}
	.site-content .left-dashboadr-block .info-block{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.site-content .left-dashboadr-block section.verifiche-block h6, .site-content .left-dashboadr-block section.activa h6{
		font-size: 24px !important;
	}
	.site-content .left-dashboadr-block section.verifiche-block .text-icon text{
		font-size: 16px !important;
	}
	.site-content .left-dashboadr-block .info-block img,
	.site-content .left-dashboadr-block section.verifiche-block .blue-right{
		margin-top: -5px !important;
	}
	.site-content .left-dashboadr-block{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.site-content .dachboadrd-block img{
		width: auto !important;
		height: 50px !important;
	}
	.site-content .dachboadrd-block .delete-icon img{
		height: 25px !important;
	}
	.site-content .dachboadrd-block .d-not-button-block{
		text-align: center !important;
	}
	.site-content .dachboadrd-block .date{
		margin-top: 0px !important;
	}
	.site-content .dachboadrd-block .text-block{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.site-content .right-block,
	.site-content .right-block-2{
		padding-top: 30px !important;
		padding-left: 10px;
	}
<<<<<<< HEAD
	.site-content img.block-bottom-img{
		width: auto !important;
	    height: 20px !important;
	    left: 0px;
	    margin-left: 15px;
	}
	.site-content .dachboadrd-block{
		height: auto !important;
	}
	.site-content .dachboadrd-block .date{
		padding-right: 66px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.time{
		padding-top: 0px !important;
	}

	.events-index .three-block,
	.events-index .four-block{
		padding-top: 3px !important;
	}
	.events-index .first-block{
		padding-top: 10px;
	}
	.whigth-right-block .select-block{
		padding-left: 15px !important;
	}
}
@media (min-width: 769px) and (max-width: 992px){

	.site-content .left-dashboadr-block section.verifiche-block .text-icon text{
		font-size: 11px  !important;
	}
	.site-content .left-dashboadr-block section.activa span{
		padding-left: 0px !important;
		font-size: 9px !important;
	}
	.events-index .three-block,
	.events-index .four-block{
		padding-top: 3px !important;
	}
	.events-index .first-block{
		padding-top: 10px;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.time{
		padding-top: 0px !important;
	}
	section.header {
   		 padding: 0px 40.2px;
	}
	section.header div nav{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	section.header .logo-left img{
		width: 100px !important;
		height: 35px !important;
	}
	section.header .navbar-collapse .button-right .nav-button{
		padding-top: 0px !important;
	}
	section.header .navbar-collapse .button-right .btn-diventa{
   		 padding: 7.5px 35px !important;
	}
	section.header .navbar-collapse .button-right .red-box{
	    top: 9px !important;
	    right: 44px !important;
	}
	section.header .navbar-collapse .button-right .event-drop .event-drop-menu{
		    padding: 7.5px 31px !important;
	}
	section.header .navbar-collapse .button-right .event-drop .dropdown-right{
		width: 165% !important;
		margin-top: 14px !important;
	}
	section.home-img-block {
	    height: auto !important;
	}
	section.home-content-menu form input,
	section.home-content-menu .cersa{
		margin-top: 15px !important;
	}
	.btn-sofan{
		border-radius: 45px !important;
	}
	section.home-content-menu .search-block  input{
		padding-left: 44px !important;
		background-position: left 3% bottom 55%!important;
	}
	section.home-content-menu .search-block input:focus,
	section.home-content-menu .search-block input:hover{
		background-position: left 3% bottom 55%!important;
	}
	section.home-content-menu form .form-data{
		padding-left: 38px !important;
		background-position:  left 6% bottom 57% !important ;
	}
	section.home-content-menu form .form-data:focus,
	section.home-content-menu form .form-data:hover{
		background-position:  left 6% bottom 57% !important ;
	}
	section.home-content-menu form .form-dove{
		padding-left: 44px !important;
   		background-position:  left 6.5% bottom 52% !important ;
	}
	section.home-content-menu form .form-dove:focus,
	section.home-content-menu form .form-dove:hover{
   		background-position:  left 6.5% bottom 52% !important ;
	}
	section.home-content-menu .dove-block{
		padding-right: 7.5px;
	}
	section.home-content-menu .data-block{
		padding-left: 7.5px;
	}
	section.hai-una .rigt-block-text h5{
		font-size: 26px !important;
		padding-bottom: 30px !important; 
	}
	section.hai-una .rigt-block-text .btn-sofan{
	    font-size: 12px !important;
	}
	section.hai-una .rigt-block-text p{
		font-size: 14px !important;
		padding: 10px!important;
	}
	section.hai-una .main-triangle img{
		width: 100% !important;
		height: 100% !important;
	}
	section.home-img-block{
		margin-top: 0px !important;
		background-size: cover !important;
	    height: 300px !important;
	    overflow: hidden;
	}
	section.rerche-sofan p{
		font-size: 18px !important;
	}
	section.footer .select-block{
		padding-right: 15px!important;
	}
	section.footer .footer-b-t .sofan{
		padding-left: 15px !important;
	}
	section.footer div .row .termini{
		padding-left: 15px !important;
	}
	section.footer div .row .diventa{
		padding-left: 15px !important;
	}

	section.footer .icon-block a img{
		height: 15px !important;
		width: 15px !important;
	}

	.js-events-index .left-menu{
		padding-left: 0px !important;
	}
	.js-events-index .search-block{
		padding-left: 15px !important;
	}
	.js-events-index .event-block-right{
		width: 285px !important;
	}
	.js-events-index .event-block-left{
		width: calc(100% - 300px);
	}
	.js-events-index .block-row{
		margin-left: 0px;
	}
	.events-index .right-block{
		padding-left: 0px;
	}
	.events-index .four-block{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.events-index .first-block{
		padding-bottom: 5px;
	}
	.events-index .two-half{
		padding-top: 20px !important;
	}
	.events-index .red-opacity-block{
		margin-top: 12px !important;
	}
	
	.default-host-page .right-block-host .button-block .btn-location,
	.default-host-page .right-block-host .button-block .btn-modifica{
		width: auto !important;
		padding: 15px 35px !important;
		margin-bottom: 0px !important;
	}
	.default-host-page .right-block-host .button-block {
		padding-top: 25px !important;
		text-align: center;
	}
	.default-host-page .btn-aggiungi{
		width: auto !important;
		padding: 15px 35px !important;
	}
	.default-host-page .right-block-host .button-block{
		text-align: center !important;
	}
	.password-page form{
		padding-top: 15px !important;
	}
	.password-page .button-salva-block{
		padding-left: 10px !important;
	}
	.site-content .left-dashboadr-block .avatar-block{
		text-align: center;
	}
	.site-content .left-dashboadr-block .info-block{
		padding: 10px 5px 0px 10px !important;
	}
	.site-content .left-dashboadr-block .info-block h6{
		text-align: center;
	}
	.site-content .left-dashboadr-block section.verifiche-block .text{
		font-size: 11px !important;
	}
	.site-content .dachboadrd-block img{
		width: auto !important;
		height: 50px !important;
	}
	.site-content .dachboadrd-block .delete-icon img{
		height: 25px !important;
	}
	.site-content .dachboadrd-block .d-not-button-block{
		text-align: right !important;
	}
	.site-content .dachboadrd-block .date{
		margin-top: 0px !important;
	}
	.site-content .dachboadrd-block .text-block{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
<<<<<<< HEAD
	.site-content img.block-bottom-img{
		width: auto !important;
	    height: 20px !important;
	    left: 0px;
	    margin-left: 15px;
	}
	.site-content .dachboadrd-block{
		height: auto !important;
	}
	.site-content .dachboadrd-block .date{
		padding-right: 66px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}
=======

>>>>>>> a651d25e24b93d892b6bc3d14409d438b837220a
}

@media (min-width: 992px) and (max-width: 1199px){
	.form-control-login .text-login{
		font-size: 12px !important;
		padding-top: 4px;
	}
	.form-control-login  label{
		font-size: 12px !important;
	}
	section.home-content-menu .dove-block{
		padding-left: 0px;
		padding-right: 15px;
	}
	section.home-content-menu .data-block{
		padding-right: 0px;
		padding-left: 12.8px;
	}
	section.home-content-menu .input-block{
		padding: 0px;
	}
	section.home-content-menu .cedra-block{
		padding-left: 26px;
	}
	section.footer div .row .diventa{
		text-align: right;
		padding-right: 30px;
	}
	section.header .navbar-collapse .button-right .red-box{
	    top: 13px !important;
	    right: 92px !important;
	}
	section.home-content-menu .search-block{
	    padding-right: 39px;
	}
	section.home-content-menu .cersa{
		width: 89% !important;
		}
	.js-events-index .event-block-left{
	    width: calc(100% - 383px);
	}
	.js-events-index .event-block-right{
	        width: 364px;
}
	.events-index .four-block{
		padding-left: 0px;
		padding-right: 0px;
	}
	.site-content .dachboadrd-block .delete-icon{
		padding-top: 22px !important;
	}
	.site-content .right-block-2 .dachboadrd-block .delete-icon{
		padding-top: 17px !important;
	}
<<<<<<< HEAD
=======
	.site-content .dachboadrd-block .d-not-button-block a{
		width: 78px !important;
	}
>>>>>>> a651d25e24b93d892b6bc3d14409d438b837220a
}
@media (min-width: 1200px){
	.events-index  .text-name-block h6{
	    font-size: 12px !important;
	    margin-bottom: 30px !important;
	}
	.events-index .info-block {
    padding: 0px 0px 10px !important;
	}
	section.footer div .row .diventa{
		text-align: right;
		padding-right: 30px;
	}
	section.header .navbar-collapse .button-right .img-nav img{
		height: 35px !important;
		width: 35px !important;
		margin-top: 0px !important;
	}
	section.header .navbar-collapse .button-right .red-box{
		height: 17px !important;
		width: 17px !important;
	    top: 9px !important;
	    right: 92px !important;
	    font-size: 10px !important;
	    padding-top: 1px;
	}
	section.header .navbar-collapse .button-right .btn-diventa{
		font-size: 14px !important;
		padding: 7.5px 36.4px !important;
	}
	section.header .navbar-collapse .button-right .event-drop .event-drop-menu{
		font-size: 14px !important;
		padding: 7.5px 32.4px !important;
	}

	section.header .navbar-collapse .button-right .event-drop{
	    padding-top: 0px !important;
	}
	section.header .navbar-collapse .button-right .btn-register-login{
		font-size: 14px !important;
	}
    section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn-primary,
    section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn{
        font-size: 14px !important;
    }
    section.home-img-block{
    	height: 410px !important;
    }
    section.home-content-menu .cersa a{
		font-size: 16px !important;
	}
	.js-events-index .cedra-block{
		padding-right: 30px;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block{
		padding-top: 10px;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.payment{
		margin-bottom: 8px !important;
	}
	.events-index .red-opacity-block{
		margin-top: 10px !important;
		line-height: 6px !important;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.button-text{
		padding-top: 3px;
	}
	.events-index .first-block p{
		font-size: 17px !important;
	}
	.events-index .three-block p{
		font-size: 13px !important;
	}
	.events-index .creo-evento{
		font-size: 10px !important;
	}

	.default-host-page .right-block-host .name h6{
		font-size: 26px !important;
	}
	.default-host-page .right-block-host .adress-block h6{
		font-size: 22px !important;
		line-height: 35px !important;
	}
	.default-host-page .right-block-host .location-block .image-block img{
		height: 120px !important;

    border-top-left-radius: 70px !important;
    border-top-right-radius: 70px !important;
    border-bottom-left-radius: 70px !important;
    border-bottom-right-radius: 70px !important;
	}
	.default-host-page .right-block-host .button-block{
		padding-top: 21px !important;
	}
	.default-host-page .right-block-host .button-block .btn-modifica{
		margin-bottom: 15px !important;
	}

	.default-host-page section.menu-left{
	    padding-left: 15px !important;
	}
	.password-page .password-form-block text,
	.password-page .password-form-block h6,
	.password-page .password-form-block label{
		font-size: 14px !important;
	}
	.delete-account h6{
		font-size: 15.8px !important;
	}
	.delete-account .name h5{
		font-size: 26px !important;
	}
	.site-content .left-dashboadr-block{
		padding-right: 30px !important;
	}
	.site-content .left-dashboadr-block .avatar-block img{
		width: 100% !important;
		height: auto !important;
	}
	.site-content .left-dashboadr-block .info-block h6{
		font-size: 22px !important;
	}
	.site-content .left-dashboadr-block .info-block a{
		font-size: 13px !important;
	}
	.site-content .left-dashboadr-block .avatar-block{
		padding-right: 10px !important;
	}
	.site-content .left-dashboadr-block section.verifiche-block h6,
	.site-content .left-dashboadr-block section.activa h6{
		font-size: 18px !important;
	}
	.site-content .left-dashboadr-block section.verifiche-block .text-icon text,
	.site-content .left-dashboadr-block section.verifiche-block .text{
		font-size: 16px !important;
	}
	.site-content .left-dashboadr-block section.activa span{
		font-size: 14px !important;
	}
	.site-content .left-dashboadr-block section.verifiche-block .text-icon img{
		margin-top: -5px !important;
	}
	.site-content .dachboadrd-block .img-block{
		padding-left: 10px !important;
		text-align: center !important;
	}
	.site-content .dachboadrd-block .text-block p{
		padding-left: 10px;
	}
	.site-content .dachboadrd-block .text-block{
		padding-left: 8px !important;
		padding-top: 8px !important;
		padding-right: 15px !important;
	}
	.site-content .dachboadrd-block .text-block p{
		font-size: 14px !important;
	}
	.site-content .dachboadrd-block .d-not-button-block .btn-success,
	.site-content .dachboadrd-block .d-not-button-block .btn-primary{
		margin-right:  22px !important;
	}
	.site-content .dachboadrd-block .d-not-button-block a,
	.site-content .dachboadrd-block .d-not-button-block button{
		width: 80px !important;
	}
	.site-content .dachboadrd-block .delete-icon img{
		height: 20px !important;
		width: 20px !important;
	}
	.site-content .right-block .name h2{
		font-size: 22px !important;
	}
	.site-content .dachboadrd-block .d-not-button-block{
		padding-left: 0px !important;
	}
	.site-content .dachboadrd-block .delete-icon{
		padding-top: 34px !important;
		}
	.site-content .dachboadrd-block .d-not-button-block a,
	.site-content .dachboadrd-block .d-not-button-block button{
		font-size: 12px !important;
	}
	.site-content .right-block-2 .dachboadrd-block .text-block{
		padding-top: 10px !important;
	}

.site-content .right-block-2 .dachboadrd-block  .delete-icon img{
    height: 20px !important;
    width: 20px !important;
}
	.site-content .right-block-2 .dachboadrd-block .delete-icon{
		padding-top: 20px !important
	}
	.site-content .right-block-2 .dachboadrd-block .date{
		margin-top: -17px !important;
	}
	.events-index .first-block .icon-right{
		margin-top: -7px !important;
	}
}
@media (min-width: 1601px){
	section.home-content-menu .cersa img{
		height: 15px !important;
		width: 15px !important;
		margin-top: -2px !important;
	}
	section.home-content-menu form .form-search{
		padding-left: 50px !important;
	}
	section.home-content-menu form .form-dove{
		padding-left: 43px !important;
	}
	section.home-content-menu form .form-data{
		padding-left: 42px !important;
	}
	section.home-content-menu .cersa{
		padding-top: 7px !important;
	}
	section.home-content-menu .input-block-sof{
		margin-left: 15px !important;
	}
	.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow,
	.select2-container--krajee .select2-selection--single .select2-selection__arrow{
	    background-size: 20px 20px !important;
	    right: 10px !important;
	    top:18px !important;
	}

	section.footer .select-block .select2-container--krajee .select2-selection--single .select2-selection__rendered{
	    padding-top: 5px;
	}

	section.footer .select-block .select2-container--krajee .select2-selection--single{
	    height:55px !important;
	    font-size: 22px !important;
	}
	section.home-content-menu .search-block{
		padding-right: 0px !important;
	}
	.js-events-index .js-search-block-event{
		height: 220px !important;
	}
	.js-events-index .js-search-block-event .right-img-block{
	    padding-top: 8px !important;
	    padding-bottom: 8px !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block img{
		height: 50px !important;
   		width: 50px !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block img.star{
		height: 15px !important;
		width: 15px !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block span{
		font-size: 8px !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block-1 span{
		font-size: 19px !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block-1{
		line-height: 1.5 !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.data{
		font-size: 10px !important;
	}
	.js-events-index  .event-block-right{
		width: 700px !important;
	}
	.js-events-index .event-block-left{
		width: calc(100% - 720px) !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.place{
		font-size: 6px !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.payment{
		font-size: 23px !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.button-text{
		font-size: 7px !important;
	}
	.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.time{
		font-size: 20px !important;
	}
	.events-index .js-events-index .js-search-block-event{
		height: 190px !important;
	}

	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 span{
		font-size: 12px !important;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.payment{
		font-size: 14px !important;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.time{
		font-size: 12px !important;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.payment{
		margin-bottom: 2px !important;
	}
	.events-index .red-opacity-block{
		padding-top: 5px;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block{
		padding-top: 5px !important;
	}
	.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.button-text{
		margin-top: -4px !important;
	}

	.events-index .red-opacity-block {
	    margin-top: 5px !important;
	    line-height: 11px !important;
	    height: 41px !important;
	}
	.events-index .first-block p{
		font-size: 17px !important;
	}
	.events-index .three-block p{
		font-size: 13px !important;
		padding-top: 3px;
	}
	.events-index .red-opacity-block h4{
		padding-top: 2px !important;
	}
}
