.addPhoto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/product_add_photo.png);
}
.addPhoto:hover{
    background-image: url(../../../images/product_add_photo_hover.png) !important;
}

.cartOrderPlus{
    border:1px solid black;
    cursor: pointer;
    border-radius:50%;
    padding: 10px 10px 5px 10px;
}