@import '../../fonts/font.css';
.no-margin{
  margin: 0;
}
span.star{
  -webkit-text-stroke: transparent;
  text-shadow: none;
}
.custom-pages-container{
  margin-top: 95px;
}
.pages-colum-left{
  border-right: 2px solid #c3c3c3;
  h5{
    color: #131313;
    font-family: "Segoe-UI";
    font-weight: bold;
    font-size: 19px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  ul{
    li{
      a{
        padding: 2px 0 2px 0;
        color: #9A9B9B;
        font-size: 17px;
        font-family: "Segoe-UI";
        font-weight: bold;
        
      }
    }
    .active{
      a{
        color: #0080FF !important;
        font-size: 25px !important;
        line-height: 27px;
        
      }
    }
  }
}
.page-container{
  h1{
    color: #0080FF;
    font-family: "Segoe-UI";
    font-weight: bold;
    font-size: 55px;
  }
}

.feedback-left-menu{
  section.menu-left{
    padding: 25px 0px 0 0px;
  }
}
.rating-container .empty-stars {
  color: #9bc9ff;
}
.rating--maine-container{
  border-radius: 25px;
  padding-top: 17px;
  padding-bottom: 17px;
  background: #F4F4F4;
  margin: 0 0 40px 0;
  .feedback-user-name{
    font-size: 15px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    color: #95989A;
    font-family: 'Segoe-UI';
    margin-top: 10px;
  }
  .feedback-date-create{
    color: #95989A;
    font-size: 18px;
    font-family: 'Segoe-UI';
    margin-bottom: 15px;
  }
  .feedback-text-content{
    color: #95989A;
    font-size: 15px;
    font-family: 'Segoe-UI';
    text-align: left;
    max-height: 90px;
    overflow: hidden;
  }
  .rating-stars-container{
    text-align: center;
    p{
      font-size: 45px;
      line-height: 45px;
      color: #95989A;
      font-family: 'Segoe-UI';
      font-weight: 400;
    }
  }
  .rating-user-img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }
  p{
    margin: 0;
  }
}
.event-slider{
  float: right;
  width: unquote("calc( 100% - 50px )");
  position: relative;
  ul.slick-dots{
    max-width: 50px;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: -57px;
    padding-top: 10px;
    z-index: 2;
    li{
      margin-bottom: 15px;
      .thumbnail{
        border-radius: 25px;
        overflow: hidden;
        img{
          height: 40px;
        }
      }
    }
  }
  .slide{
    border-radius: 35px;
    overflow: hidden;
    max-height: 445px;
    .registration-time-container{
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(241, 19, 19, 0.4);
      text-align: center;
      .registration-title{
        font-family: "Segoe-UI";
        font-weight: bold;
        color: #ffffff;
        display: block;
        font-size: 12px;
        margin-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
      }
      .registration-time{
        font-family: "Segoe-UI";
        font-weight: bold;
        color: #ffffff;
        display: block;
        font-size: 14px;
        margin-bottom: 7px;
        margin-top: 4px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    .registration-status-container{ 
      position: absolute;
      right: 0;
      bottom: 20px;
      width: 40%;
      background: transparent;
      padding-right: 15px;
      text-align: center;
      .registration-icon-red{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #E52424;
        float: left;
        margin-right: 10px;
      }
      .registration-icon-green{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #2ee524;
        float: left;
        margin-right: 10px;
      }
      .registration-status-title{
        font-weight: bold;
        font-family: "Segoe-UI";
        color: #ffffff;
        font-size: 13px;
      }
    }
    img{
      height: 100%;
    }
  }
  
}

@media( max-width: 1366px ){
  .page-container{
    h1{
      font-size: 45px;
    }
  }
  .pages-colum-left{
    h5{
      font-size: 17px;
    }
    ul{
      li{
        a{
          font-size: 13px;
        }
      }
      .active{
        a{
          font-size: 18px !important;
          line-height: 18px !important;
        }
      }
    }
  }
  .rating--maine-container{ 
    .rating-xs {
      font-size: 22px;
    }
    .feedback-date-create{
      font-size: 13px;
    }
    .feedback-text-content{
      font-size: 13px;
    }
    .rating-user-img{
      width: 85px;
      height: 85px;
    }
    .feedback-user-name{
      font-size: 13px;
    }
    .rating-stars-container{
      p{
        font-size: 30px;
        line-height: 30px;
      }
    }
  } 
  .event-slider{
    .slide{   
      .registration-time-container{
        .registration-title {
          font-size: 10px;
          margin-top: 10px;
          padding-left: 25px;
          padding-right: 25px;
        }
        .registration-time{
          font-size: 15px;
          margin-bottom: 7px;
          margin-top: 4px;
          padding-left: 25px;
          padding-right: 25px;
        }
      }
      .registration-status-container{
        bottom: 15px;
        .registration-icon-green, .registration-icon-red{
          width: 20px;
          height: 20px;
        }
        .registration-status-title{
          font-size: 12px;
        }
      }
    } 
  }
}
@media( max-width: 1024px ){
  .custom-pages-container{
    margin-top: 75px;
  }
  .page-container{
    h1{
      font-size: 35px;
    }
  }
  .pages-colum-left{
    h5{
      font-size: 13px;
      margin-top: 19px;
      margin-bottom: 10px;
    }
    ul{
      li{
        a{
          font-size: 11px;
        }
      }
      .active{
        a{
          font-size: 15px !important;
          line-height: 15px !important;
        }
      }
    }
  }
  .rating--maine-container{ 
    .rating-xs {
      font-size: 25px;
    }
    .feedback-date-create{
      font-size: 12px;
    }
    .feedback-text-content{
      font-size: 12px;
    }
    .rating-user-img{
      width: 75px;
      height: 75px;
    }
    .feedback-user-name{
      font-size: 12px;
    }
    .rating-stars-container{
      p{
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
  .event-slider{
    ul.slick-dots{
      max-width: 40px;
      left: -52px;
      li{
        margin-bottom: 10px;
        .thumbnail{
          border-right: 15px;
          img{
            height: 30px;
          }
        }
      }
    }
    .slide{
      border-radius: 30px;
      .registration-time-container{
        .registration-title {
          font-size: 6px;
          margin-top: 10px;
          padding-left: 25px;
          padding-right: 25px;
        }
        .registration-time{
          font-size: 10px;
          margin-bottom: 7px;
          margin-top: 4px;
          padding-left: 25px;
          padding-right: 25px;
        }
      }
      .registration-status-container{
        bottom: 15px;
        .registration-icon-green, .registration-icon-red{
          width: 13px;
          height: 13px;
        }
        .registration-status-title{
          font-size: 9px;
        }
      }
    } 
  }
}
@media( max-width: 768px ){
  .custom-pages-container{
    margin-top: 65px;
  }
  .rating--maine-container{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    .rating-xs {
      font-size: 18px;
    }
    .feedback-date-create{
      font-size: 10px;
      margin-bottom: 5px;
    }
    .feedback-text-content{
      font-size: 12px;
      text-align: center;
    }
    .rating-user-img{
      width: 55px;
      height: 55px;
    }
    .feedback-user-name{
      font-size: 10px;
      margin-top: 3px;
    }
    .rating-stars-container{
      p{
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
@media(max-width: 575px){
  .custom-pages-container{
    margin-top: 60px;
  }
  .pages-colum-left{
    text-align: center;
    border-bottom: 2px solid #c3c3c3;
    border-right: none;
    h5{
      font-size: 17px;
      margin-top: 19px;
      margin-bottom: 10px;
    }
    ul{
      li{
        a{
          font-size: 13px;
        }
      }
      .active{
        a{
          font-size: 17px !important;
          line-height: 17px !important;
        }
      }
    }
  }
}

