@font-face {
    font-family: "Ubuntu-Title";
    src: url("../fonts/Ubuntu-Title.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe-UI";
    src: url("../fonts/Segoe UI.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe-UI-bold";
    src: url("../fonts/Segoe UI Bold.ttf") format("truetype");
}

@font-face {
    font-family: "lato-bold";
    src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "open-sans";
    src: url("../fonts/OpenSans.ttf") format("truetype");
}
