.js-signup-back{
    width:30px;
    height:10px;
    background-image: url(/images/ar-lef-3.png) !important;
    background-size: 15px 11px;
    background-repeat: no-repeat;
    margin-left: -15px;
}
.js-signup-back:before{
    content: "\f10877";
    color: transparent;
}
.js-signup-back:hover,
.modal-dialog .modal-header button:hover{
    cursor: pointer !important;
}
.login-modal-class .jconfirm-content-pane{
    min-height:700px !important;
}
.signup-modal-class .jconfirm-content-pane{
    min-height:700px !important;
}
.modal-dialog .modal-header{
    background-color: white;
    padding:15px 15px 0px;
}
.modal-dialog .modal-header button{
    color: #a0a0a0;
}
.modal-dialog .modal-header button:hover{
    cursor: pointer;
}
#signupModal .modal-dialog,
#loginModal .modal-dialog{
    max-width: 600px;
}
.modal-dialog .modal-content{
    border: 0px !important;
    border-bottom-left-radius: 0.3rem !important;
    border-bottom-right-radius: 0.3rem !important;
    margin-top: -2px;
}
.rating-disabled .rating-input, .rating-disabled .rating-stars{
    cursor:initial !important;
}
section.header{ 
    box-shadow: 0px 3px 6px -5px #000000;
}
section.header  .container-fluid{
    padding: 0px;
}
section.home-img-block {
    height: 323px;
    width: 100%;
    margin-top: 0px;
    background-image: url(/images/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.modal-body{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
}
 .logo-left img{
    height:  45.25px;
    width: 137.87px;
    display: inline-block;
}
section.header .logo-left{
    padding: 0px;
    margin: 0px;
}
section.header .navbar .navbar-toggler,
section.header .navbar .navbar-toggler:hover,
section.header .navbar .navbar-toggler:focus,
section.header .navbar .navbar-toggler:active {
    border:0px !important;
    outline: none !important;
}
section.header .navbar-collapse{
    text-align: right;
}
section.header .navbar-collapse .button-right .nav-diventa{
    padding-right: 18.4px;
}
section.header .navbar-collapse .button-right .drop-menu img{
    height: 17px ;
    width: 19px;
    margin-top: -4px;
}

section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn-primary,
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn{
        font-size: 7px;
        color:#95989A;
    }
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn:hover{
    text-decoration: none;
    color: #007bff;
}    
section.header .navbar-collapse .button-right .btn-diventa,
section.header .navbar-collapse .button-right .event-drop .event-drop-menu{
    color: white !important;
    border:0px;
    font-family: "Segoe-UI";
    font-weight: 400;
    font-size: 10px;
    background-color: #168AFD !important;
    border-radius: 23px;
    padding: 7.3px 45.5px;
}
section.header .navbar-collapse .button-right .event-drop .event-drop-menu{
    padding: 7.3px 41.5px 8px 41.5px;
}
section.header .navbar-collapse .button-right .event-drop{
    margin-right: 10px;
}
section.header .navbar-collapse .button-right .event-drop .dropdown-right a{
    font-size: 14px;
    padding-left: 0px;
    color: #0080FF;
    font-weight: 200;
    font-family: "Segoe-UI";
    display:flow-root;
    padding-bottom: 5px;
    overflow: hidden;
}
section.header .navbar-collapse .button-right .event-drop .dropdown-right a:hover,
section.header .navbar-collapse .button-right .event-drop .dropdown-right a:focus{
    color:#057bf0;
    text-decoration: none;
}
section.header .navbar-collapse .button-right .event-drop .dropdown-right a img{
    height: 30px ;
    width: 28px;
    float: right;
    margin-top: 0px;
}

section.header .navbar-collapse .button-right .step-,
section.header .navbar-collapse .button-right .step-1,
section.header .navbar-collapse .button-right .step-2,
section.header .navbar-collapse .button-right .step-3,
section.header .navbar-collapse .button-right .step-4{
    padding-top: 2px;
}
section.header .navbar-collapse .button-right .step-text{
    color: #168AFD;
    font-family:  "Segoe-UI";
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
}
section.header .navbar-collapse .button-right .step- div,
section.header .navbar-collapse .button-right .step-1 div,
section.header .navbar-collapse .button-right .step-2 div,
section.header .navbar-collapse .button-right .step-3 div,
section.header .navbar-collapse .button-right .step-4 div{
    width: 15px;
    height: 15px;
    background-color: #E1E8EE;
    display: inline-block;
    border-radius: 50px;
}
section.header .navbar-collapse .button-right .step-1 div:first-child,
section.header .navbar-collapse .button-right .step-2 div:nth-child(-n+2),
section.header .navbar-collapse .button-right .step-3 div:nth-child(-n+3),
section.header .navbar-collapse .button-right .step-4 div:nth-child(-n+4) {
    background-color: #168AFD;
}

section.header .navbar-collapse .button-right .event-drop .dropdown-right{
    right: 7px;
    padding: 10px 15px;
    margin-top: 15px;
    left: unset;
    border-radius: 9px;
    width: 130%;
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}
section.header .navbar-collapse .button-right .event-drop .dropdown-right a img.button-red{
    height: 26px;
    width: 28px;
}
section.header .navbar-collapse .button-right .btn-diventa:focus,
section.header .navbar-collapse .button-right .btn-diventa:hover{
    background-color: #057bf0 !important;
}
section.header .navbar-collapse  .button-right .nav-button{
    padding-top: 2px;
}
section.header .navbar-collapse  .button-right .btn-register-login-1:hover,
section.header .navbar-collapse  .button-right .btn-register-login-1:focus{
    color: #168AFD !important;
}
section.header .navbar-collapse  .button-right .btn-register-login{
    background-color: transparent !important;
    color: #DBDEDF!important;
    text-transform: capitalize;
    border:0px;
    font-family: "Segoe-UI";
    font-size: 7px;
    font-weight: 400;
    padding: 0px;
}
section.header .navbar-collapse  .button-right .btn-register-login-1{

    padding: 0px 10.5px 0px 0px;
}
section.header .navbar-collapse  .button-right .btn-register-login:focus,
section.header .navbar-collapse .button-right .btn-register-login:active,
section.header .navbar-collapse .button-right .btn-register-login:hover{
    background-color: transparent !important;
    color: #168AFD !important;
    text-transform: capitalize;
    border:0px;
    font-family: "Segoe-UI";
    font-size: 7px;
    font-weight: 400;
}

section.header .navbar-collapse .button-right .drop-menu .dropdown-menu{
    right: 12px;
    width: 275px;
    padding: 17px 15px;
    margin-top: 15px;
    left: unset;
    border-radius: 9px;   
     box-shadow: 0px 4px 12px 1px #80808030;
    overflow: hidden;
}
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu a{
    font-size: 15px;
    padding-left: 0px;
    color: #0080FF;
    font-weight: 600;
    font-family: "Segoe-UI";
    padding-bottom: 15px;
    overflow: hidden;
    display: inherit;
}
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu a:hover,
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu a:focus{
    text-decoration: none;
    cursor: pointer;
    color: black;
    outline: none;
}
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu form button{
    border: 0px;
    background: transparent; 
    font-size: 15px;
    padding: 0px;
    color: #0080FF;
    font-weight: 600;
    font-family: "Segoe-UI";
    overflow: hidden;
    display: inherit;
}
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu form button:hover{
    color: black;
}
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu form button:focus,
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu form button:hover{
    border:0px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px;
}
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu a .menu-block-right{
    float: right;
    height: 15px;
    width: 15px;
    background-color: #FD164D;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-size: 8px;
    font-family: "Segoe-UI";
    padding-top: 1px;
}
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn-primary{
    color:#95989A;
    background-color: transparent !important;
    border:0px; 
}
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn-primary:hover,
section.header .navbar-collapse .button-right .drop-menu .dropdown-menu .btn-primary:focus{
   text-decoration: none;
}
section.header .navbar-collapse .button-right .img-nav img{
    height:30px;
    width: 30px;
    border-radius: 50px;
    margin-top: 1.5px;
}
section.header .navbar-collapse .button-right .red-box{
    background-color: #FF0000;
    height: 14px;
    width: 14px;
    position: absolute;
    display: inline;
    top: 11px;
    right: 102px;
    border-radius: 50px;
    font-size: 8px;
    color: white;
    font-family: "Segoe-UI";
    text-align: center;
    padding-top: 1px;
}
section.header .navbar-collapse .button-right .drop-menu,
section.header .navbar-collapse .button-right .drop-menu a {
    padding-top: 2px;
    padding-left: 5px;
}
.eauth-service{
    width: 100%;
    text-align: center;
}
.eauth-service-id-facebook{
    background-color: #168AFD !important;
    border-radius: 45px;
    padding: 10px 27px;
    height: 60px;
    margin-top: 24px;
}
.js-site-login{
    padding: 0px;
}
.eauth-list .eauth-service-id-google_oauth{
    background-color: transparent;
    border:1px solid  #c4c4c4;
    border-radius: 45px;
    padding: 10px 27px;
    height: 60px;
    color: #c4c4c4;
    margin-top: 5px;
}
.eauth-list .eauth-service-id-google_oauth:hover{
     border:1px solid black;
     text-decoration: none;
     cursor: pointer;
     
}
.eauth-list .eauth-service-id-google_oauth a:hover{
    color: black !important;
    cursor: pointer;
}
.eauth-list .eauth-service-id-google_oauth a{
    color: #c4c4c4;
    text-decoration: none;
    width: 100%;
    padding-top: 8px !important;
}
.eauth-service-link{
    width: 100% !important;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
}
.eauth-service-id-google_oauth .eauth-service-link:before{
    left: 10px;
    top:5px !important;
    margin-top: 5px;
    background:url("/images/googleplus.png") no-repeat !important;
    background-size: 20px 20px !important;
}

.eauth-service-id-facebook .eauth-service-link:before{
    left: 10px;
    top:5px !important;
    margin-top: 5px;
    background:url("/images/facebook-icon.png") no-repeat !important;
    background-size: 20px 20px !important;
}

.eauth-list .eauth-service-id-facebook:hover{
    background-color: #057bf0 !important;
    cursor: pointer;
}
.eauth-service-id-facebook .eauth-service-link:after{
    background-image: none !important;
}
.eauth-list .eauth-service-id-facebook a{
    color: white;
    padding-top: 8px !important;
}
.eauth-list .eauth-service-id-facebook a:hover{
    text-decoration: none;
    cursor: pointer;
}
.jconfirm-closeIcon{
    margin-right: 10px;
}
.form-control-login{
    margin-top: 10px;
    padding: 0px;
}
.form-control-login .form-control{
    border-radius: 32px;
    padding-left: 16.6px !important;
    margin-top: 5px !important;
}
.form-control-login label{
    color: #333;
}
.form-control-login .text-login{
    display: inline-block;
    float: right;
}
.form-control-login .text-login a:hover{
    text-decoration: none;
}
.form-control-login .form-group button{
    width: 100%;
    border-radius: 32px;
    background-color: #168AFD  !important;
    height: 60px;
    text-transform:capitalize;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: "Segoe-UI";
    margin-bottom: 4px;
}
.form-control-login .form-group button:hover{
    background-color: #057bf0 !important;
    cursor: pointer;
}
.js-site-login .row .button-sign-im-login-form{
    text-align: right;
}
.js-site-login .row {
    margin-top: 10px;
}
.js-site-login .row .button-sign-im-login-form a{
    background-color: transparent;
    border-radius: 32px;
    border:2px solid #008489;
    color: #008489;
     padding: 8px 14px 10px;
    font-family: "Segoe-UI";
    font-size: 14px;
    font-weight: 400;
}
.js-site-login .row .button-sign-im-login-form a:active{
    background-color: transparent !important;
}
.js-site-login .row .text-bottom{
    color: #666666;
    padding-top: 10px;
}
/*
*/
.site-signup p{
    padding: 15px 15px 0px;
    font-family: "Segoe-UI";
    color:#666666;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
}
.site-signup p a{
    color:#007a87 !important;
}
.site-signup p a:hover,
.site-signup p a:focus{
    text-decoration: none;
    color: #007a87;
    cursor: pointer;
}
.site-signup .form-group input{
    border-radius: 32px;
    padding-left: 16.6px;
    padding-right: 15px;
    color: #aaa; 
}
.site-signup .form-group #signupform-email,
.js-site-login .form-control-login #loginform-email{
    background:url("/images/email1.png") no-repeat !important;
    background-size: 19px 15px !important;
    background-position: right 15px bottom 50% !important;
    padding-right: 15px !important;
}

.site-signup .form-group #signupform-name,
.site-signup .form-group #signupform-surname{
    background:url("/images/user1.png") no-repeat !important;
    background-size: 18px 20px !important;
    background-position: right 15px bottom 50% !important;
    padding-right: 10px !important;
}

.site-signup .form-group #signupform-password,
.js-site-login .form-control-login #loginform-password{
    background:url("/images/password1.png") no-repeat !important;
    background-size: 18px 20px !important;
    background-position: right 15px bottom 50% !important;
    padding-right: 10px !important;
}
.site-signup .has-error input,
.js-site-login .has-danger input{
    border:1px solid red !important;
}
.site-signup .has-error input:focus,
.js-site-login .has-danger input:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.10) !important;
}

.site-signup .form-group button{
    width: 100%;
    border-radius: 32px;
    background-color: #168AFD !important;
    height: 60px;
    text-transform:capitalize;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600;
}
.site-signup .form-group button:hover{
    background-color: #057bf0 !important;
}
.site-signup {
    padding:0px 0px 4px;
    margin-top: -30px;
}
.site-signup span.select2-selection{
    border-radius: 50px;
    height: 46px;
    padding-top: 11px;
}
.site-signup .select2-container--krajee .select2-selection--single .select2-selection__arrow{
    border-left: none !important;
    background: url(/images/icon-select.PNG) no-repeat;
    background-size: 16px 12px !important;
    background-position: right;
    margin-top: 5px;
    margin-right: 10px;
}
.site-signup .select2-container--krajee.select2-container--open.select2-container--below .select2-selection{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-color: #66afe9;
}
.site-signup .select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow{
 background: url(/images/icon-select-2.png) no-repeat;
    background-size: 16px 12px !important;
    background-position: right;
    margin-top: 5px;
    margin-right: 10px;
}
.site-signup .row .button-login-sign{
    text-align: right;
}
.site-signup .row .button-login-sign a{
    background-color: transparent;
    border-radius: 32px;
    border:2px solid #008489;
    color: #008489;
    padding: 7px 20px;
}
.site-signup .row .button-login-sign a:focus{
    background-color: white !important;
}
.site-signup-social .open-button{
    width: 100% !important;
    text-align: center;
    background-color:#168AFD !important;
    border-radius: 45px;
    padding: 17px;
    height: 60px;
    background:url("/images/contact-us-message-icons-1.png") no-repeat;
    background-size: 20px 20px !important;
    background-position:  left 5% bottom 45% !important;
}
.site-signup-social .open-button:hover,
.site-signup-social .open-button:focus{
    background-color: #057bf0 !important;
    cursor: pointer;
}
.site-signup-social .open-button a{
    color: white;
    padding-top: 7px;
}
.site-signup-social .open-button a:hover{
    color: white;
}
 .sign-text-bottom{
    color: #666666;
    font-size: 13px;
    padding-top: 11px;
}
.site-signup-social{
    padding: 0px !important;
}
.button-login-sign{
    text-align: right;
}
.button-login-sign a{
    background-color: transparent;
    border-radius: 32px;
    border: 2px solid #008489;
    color: #008489 !important;
    padding: 8px 14px 10px;
    font-family: "Segoe-UI";
    font-size: 14px;
    font-weight: 400;
}
.button-login-sign .btn-primary:focus,
.button-login-sign .btn-primary:hover,
.button-login-sign .btn-primary:active{
    background-color: transparent !important;
    color: #008489 !important ;
    border: 2px solid #008489 !important;
}
.site-signup-social .text-open a,
.site-signup-social .text-open a:hover,
.site-signup-social .text-open a:focus{
    color: #008489;
    text-decoration: none;
    font-size: 12px;
}
.site-signup-social .text-open{
    margin-top: 25px;
    font-size: 12px;
}
.site-signup .sign-data-name p{
    text-align: left !important;
    padding: 0px 0px 10px !important;
    font-size: 15px;
    font-family: "Segoe-UI";
    color: #444;
}
.site-signup .sign-href a:hover,
.site-signup .sign-href a:focus{
    text-decoration:none;
}
.site-signup .sign-href a{
    color: #337ab7;
}
.site-signup .sign-data-name h6{
    font-family: "Segoe-UI";
    font-size: 18px;
    color: #444;;
    font-weight: bold;
}
.signup-or-separator .signup-or-separator--text{
    background-color: #fff;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #767676;
    }
.signup-or-separator hr {
    border: 0;
    border-top: 1px solid #dce0e0;
    width: 100%;
    margin: -16px auto 10px;
}
.signup-or-separator{
    background: none;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 34px;
    position: relative;
    text-align: center;
}
.signup-or-separator-1 .signup-or-separator--text{
    background-color: #fff;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #767676;
    }
.signup-or-separator-1 hr {
    border: 0;
    border-top: 1px solid #dce0e0;
    width: 100%;
    margin: -16px auto 10px;
}
.signup-or-separator-1{
    background: none;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 34px;
    position: relative;
    text-align: center;
}
section.footer .footer-b-t{
    padding: 45.9px 73.4px 0px 73.4px;
}
section.footer .button-footer{
    padding: 10px 53px 10px  85.4px;
}

section.footer h6{
    color:#235D66;
    font-family: "Segoe-UI";
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 12.2px;
    margin-bottom: 0px;
}
section.footer a{
    font-size: 11px;
    font-weight: 600;
    color: #97B6BB;
    font-family: "Segoe-UI";
    line-height: 25px;
    margin-bottom: 0px;
    display: inherit;
}
section.footer a:hover,
section.footer a:focus{
    text-decoration: none;
    color: #168AFD;
}
section.footer p{
    font-size: 11px;
    font-weight: 600;
    color: #97B6BB;
    font-family: "Segoe-UI";
    line-height: 25px;
    margin-bottom: 0px;
}
section.footer .icon-block a{
    display: inline-block;
}
section.footer p:hover{
    color: #168AFD;
    cursor: pointer;
}
section.footer .select-block{
    padding-right: 80px;
    padding-left: 0px;
}
section.footer .select-block li a{
    color: #9A9B9B;
    font-family: "Segoe-UI";
    border-radius: 0px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 12px;
}
section.footer .select-block li{
    border-radius: 2px;
    border:1px solid rgba(0, 0, 0, 0.15);
}
section.footer .select-block li div.menu-drop{
    width: 101%;
    border-radius: 2px;
    margin-left: -1px;
    padding: 0px;
}
section.footer .select-block li div.menu-drop a:hover,
section.footer .select-block li div.menu-drop a:focus{
    background-color: #168AFD !important;
    color: white;
}
section.footer .select-block li a.menu{
    background:url("/images/icon-select.PNG") no-repeat;
    background-size: 18px 14px !important;
    background-position: right;
    margin-right: 10px;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow b{
    border:0px !important;
}
section.footer .select-block .select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow{

    background:url("/images/icon-select-2.png") no-repeat !important;
    background-size: 15px 15px !important;
    right: 10px !important;
    top:10px;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected]{
    background-color: #168AFD;
}
.select2-container--krajee .select2-selection--single .select2-selection__clear{
    display: none;
}
section.footer .footer-text-button p{
    color: #95989A;
}
section.footer div .row .termini{
    padding-left: 35px;
}
section.footer .footer-b-t .sofan{
    padding-left: 0px;
}
section.home-content-menu{
     overflow: hidden
}
section.home-content-menu h4{
    color:  #168AFD;
    font-size: 34px;
    font-family: "Segoe-UI";
    font-weight: bold;
    padding-bottom: 2.8px;
    margin-bottom: 0px;
}
section.home-content-menu p{
    font-size: 13px;
    font-family: "Segoe-UI";
    font-weight: bold;
    color: #89C2F9;
    margin-bottom: 0px;
    padding-top: 5px;
}
section.home-content-menu .container .section-3-input{
    padding: 35px 50.6px 10px;
}
section.home-content-menu .search-block input,
.js-events-index .search-block .select2-container--krajee .select2-selection--single{
    height: 42.72px;
    background:url("/images/search.PNG") no-repeat;
    background-size: 17px 17px;
    background-position:  left 5% bottom 55%;
    padding-left: 50px;  
    border-radius: 40px;
    font-family: "Segoe-UI";
    font-weight: 400;
    font-size: 16px;
    color: #5C5E60;
    box-shadow: 0px 4px 11px -7px #080706;
    border: 1px solid #E1E8EE;
    cursor: text;;
}
section.home-content-menu .search-block .select2-container--krajee .select2-selection--single .select2-selection__rendered,
.js-events-index .search-block .select2-container--krajee .select2-selection--single .select2-selection__rendered{
    color: #5C5E60;
    padding-top: 2px;
}
section.home-content-menu .search-block .select2-container--krajee .select2-selection--single .select2-selection__arrow,
.js-events-index .search-block .select2-container--krajee .select2-selection--single .select2-selection__arrow{
    border:0px;
}
section.home-content-menu form input::-webkit-input-placeholder {color:#E1E8EE;}
section.home-content-menu form input::-moz-placeholder          {color:#E1E8EE;}/* Firefox 19+ */
section.home-content-menu form input:-moz-placeholder           {color:#E1E8EE;}/* Firefox 18- */
section.home-content-menu form input:-ms-input-placeholder      {color:#E1E8EE;}
section.home-content-menu .select2-container--krajee .select2-selection--single .select2-selection__placeholder {color:#E1E8EE;}

section.home-content-menu form input,
.js-events-index  form input{
    border-radius: 40px;
    font-family: "Segoe-UI";
    font-weight: 400;
    font-size: 16px;
    color: #5C5E60;
    box-shadow: 0px 4px 11px -7px #080706;
    border:1px solid #E1E8EE;
    height: 42.73px;
}
.js-events-index  form input,
 .js-events-index .search-block .select2-container--krajee .select2-selection--single{
    font-size: 12px !important;
}
.js-events-index .search-block .select2-container--krajee .select2-selection--single .select2-selection__rendered{
    padding-top: 5px !important;
}
.js-events-index .cersa{
    font-size: 10px !important;
}
section.home-content-menu .search-block  input:focus,
section.home-content-menu .search-block  input:hover,
.js-events-index .search-block .select2-container--krajee .select2-selection--single:focus,
.js-events-index .search-block .select2-container--krajee .select2-selection--single:hover{
    background:url("/images/search-blue.png") no-repeat;
    background-size:17px 17px;
    background-position:  left 5% bottom 55%;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    cursor: text;
}
section.home-content-menu .input-block .data-block .date span,
.js-events-index .input-block .data-block .date span{
    display: none;
}
section.home-content-menu .input-block .data-block .input-group > .form-control:not(:first-child),
.js-events-index  .input-block .data-block .input-group > .form-control:not(:first-child){
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
section.home-content-menu form .form-dove,
.js-events-index form .form-dove{
    background:url("/images/dove.PNG") no-repeat;
    background-size:15px 17px ;
    background-position:  left 9% bottom 51%;
    padding-left: 45px;
}
section.home-content-menu form .form-dove:focus,
section.home-content-menu form .form-dove:hover,
.js-events-index form .form-dove:focus,
.js-events-index form .form-dove:hover{
    background:url("/images/dove-blue.png") no-repeat;
    background-size: 15px 17px;
    background-position:  left 9% bottom 51% ;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

section.home-content-menu form .form-data,
.js-events-index form .form-data{
    background:url("/images/data.PNG") no-repeat;
    background-size: 17px 20px;
    background-position:  left 9% bottom 58%;
    padding-left: 45px;
}
section.home-content-menu form .form-data:focus,
section.home-content-menu form .form-data:hover,
.js-events-index  form .form-data:focus,
.js-events-index form .form-data:hover{
    background:url("/images/data-blue.png") no-repeat;
    background-size: 17px 20px;
    background-position:  left 9% bottom 58% ;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

section.home-content-menu .cersa,
.js-events-index .cersa {
    border-radius: 40px;
    background-color: #168AFD;
    text-align: center;
    height: 42.73px;
    width: 100%;
    font-size: 14px;
    color: white;
    font-family: "Segoe-UI";
    font-weight: bold;
}

section.home-content-menu .cersa:focus,
.js-events-index .cersa:focus{
    outline: none;
}
section.home-content-menu .cersa:hover,
.js-events-index .cersa:hover{
    background-color: #057bf0  !important;
    cursor: pointer;
}
section.hai-una .una-padding{
    padding: 41.6px 29.2px 41.3px 29.2px;
}
section.hai-una {
    overflow: hidden;
}

section.hai-una .main-triangle .animated.icons:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
section.hai-una .rigt-block-text{
    padding-top: 41.2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
section.hai-una .rigt-block-text h5{
    color: #235D66;
    font-size: 41px;
    font-family: "Segoe-UI";
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 45.1px;
}
section.hai-una .rigt-block-text p{
    font-size: 23px;
    color: #95989A;
    font-family: "Segoe-UI";
    margin-bottom: 0px;
    padding: 0px 0px 24.4px 0px;
}
section.hai-una .rigt-block-text .btn-sofan{
    background-color: #168AFD;
    padding: 9.87px 53.1px;
    font-size: 16px;
    font-family: "Segoe-UI";
}
section.hai-una .rigt-block-text .btn-sofan:hover{
    background-color: #057bf0 !important;
}
section.rerche-sofan .perche-block{
    padding: 40.1px 60.7px 56.6px 60.7px;
}
section.rerche-sofan .container h2{
    color: #235D66;
    font-size: 32px;
    font-family: "Segoe-UI";
    font-weight: 600;
}
section.rerche-sofan .container-fluid{
    padding: 76px 157px;
}
section.rerche-sofan .hosts{
    text-align: center;
    padding: 0px  20px;
}
section.rerche-sofan .features-section{
    padding: 0px 0px 71.6px 0px;
}
section.rerche-sofan h4{
    padding-top: 52px;
    color: #235D66;
    font-size: 19px;
    font-family: "Segoe-UI";
    font-weight: 600;
}
section.rerche-sofan h4:hover,
section.rerche-sofan p:hover{
    color:#168AFD;
}
section.rerche-sofan p{
    font-size: 12px;
    line-height: 25px;
    color: #97B6BB;
    font-family: "Segoe-UI";
}
section.rerche-sofan{
    border-bottom:1px solid #E1E8EE;
    overflow: hidden;
}
section.rerche-sofan .hosts .animated.icons:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.site-signup div .form-vertical .form-group .cbx-container .cbx span i,
.js-site-login .form-control-login #login-form .form-group .cbx-container .cbx span i{
    color: rgb(0, 128, 255);
}
.site-signup div .form-vertical .form-group .cbx-container .cbx,
.js-site-login .form-control-login #login-form .form-group .cbx-container .cbx{
    border-radius: 0px;
}
.btn-sofan{
    color: white !important;
    border-radius: 23px;
    border: 0px;
    font-family: "Segoe-UI";
    font-weight: 400;
    background-color: #168AFD;
}
.input-sofan{
    height: 42.73px;
    padding-top: 3px !important;
}
.has-success .cbx-active,
.cbx-active{
    border-color: #057bf0!important;
}
.has-success .cbx-active:hover, 
.has-success .cbx-active:focus{
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
}
.js-events-index div .row .left-menu text{
    color: #235D66;
    font-family: "Segoe-UI";
    font-weight: 600;
    font-size: 14px;
}
.js-events-index div .row .left-menu {
    text-align: center;
}
.js-events-index div .row .left-menu:hover,
.js-events-index div .row .left-menu:focus{
    cursor: pointer;
}
.js-events-index .js-search-block-event .right-img-block{
    position:absolute;
    height:100%;
    width:50%;
    background-color: rgba(255, 255, 255, 0.75);
    top:0px;
    right:0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block img{
    height: 55px;
    width: 55px;
    border-radius:50%;
    margin:0 auto;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block img.star{
    height: 10px;
    width: 10px;
}
.js-events-index .js-search-block-event .right-img-block .block-user {
    line-height: 8px;
}
.js-events-index .js-search-block-event .right-img-block p{
    margin-bottom: 0px;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block span{
    font-size: 6px;
    color: #363739;
    font-family: "Segoe-UI";
    display: inherit;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block-1 span{
    font-family: "Segoe-UI";
    font-size: 12px;
    color: #235D66;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 0 5px;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.data{
    font-size: 8px;
    font-family: "Segoe-UI";
    font-weight: 600;
    color: #235D66;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.place{
    font-family: "Segoe-UI";
    font-size: 5px;
    color: #235D66;
    font-weight: 600;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.payment{
    color: #235D66;
    font-family: "Segoe-UI";
    font-weight: bold;
    font-size: 14px;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.button-text{
    color: #235D66;
    font-family: "Segoe-UI";
    font-size: 5px;
    font-weight: 600;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.time{
    color: #E74C3C;
    font-family: "Segoe-UI";
    font-weight: 600;
    font-size: 14px;
    padding-top: 6px;
}
.js-events-index .js-search-block-event {
    height: 190px;
    background-size: cover;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-position: center;
}
.js-events-index .js-search-block-event:hover{
    cursor: pointer;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block-1{
    line-height: 15px;
}
.js-events-index .img-block-upload{
    padding: 0px !important;
    height: 90vh;
    background-image: url(/images/behost_photo2.png);
    background-color: #E1E8EE;
    background-repeat: no-repeat;
    background-position: 100% 80%;
    background-size: 67%;
}
.js-events-index .adress-host-block{
    padding-top: 0px;
    font-family: "Segoe-UI"
}
.js-events-index .search-block{
    padding-left: 30px;
}
.events-index ul{
    display: inline-block;
}
.events-index nav,
.events-index  .left-menu ul li a{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.events-index nav{
    padding-bottom: 15px;
}
.events-index section.menu_content{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
}
.events-index  .left-menu ul li a{
    color: #85919D;
    font-size: 15px;
    font-family: "Segoe-UI";
    font-weight: 600;
}
.events-index  .left-menu ul li a:hover,
.events-index  .left-menu ul li a:focus,
{
    color: #0080FF !important;
    cursor: pointer;
}
.events-index .creo-evento{
    color: white !important;
    border: 0px;
    font-family: "Segoe-UI";
    font-weight: 400;
    font-size: 7px;
    background-color: #168AFD !important;
    border-radius: 23px;
    padding: 7.3px 32.5px;
}
.events-index .first-block p{
    font-size: 12px;
    color: #95989A;
    font-family: "Segoe-UI";
    display: inline;
    padding-left: 5px;
    text-transform: lowercase;
}
.events-index .first-block:hover{
    cursor: pointer;
}
.events-index .first-block .icon-right{
    width: 20px;
    height: 20px;
}
.events-index .first-block{
    padding-right: 0px;
}
.events-index .text-w{
    padding:0px;
}
.events-index .three-block img{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 3px;
}
.events-index .three-block p{
    display: inline;
    margin-bottom: 0px;
    font-size: 10px;
    color: #95989A;
    font-family: "Segoe-UI";
}
.events-index .two-half{
    padding-top: 10px;
}
.events-index  .text-name-block h6{
    font-size: 7px ;
    margin-bottom: 15px;
}
.events-index  .text-name-block{
    padding-left: 0px;
}
 .events-index .four-block{
        padding-left: 0px;
        padding-right: 0px;
    }
.events-index .four-block p{
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 10px;
    color: #95989A;
    font-family: "Segoe-UI";
}
.events-index .four-block .text-w{
        padding: 9.5px 15px 7.5px 0px;
}
.events-index  .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.payment{
    color: #0080FF;
    margin-bottom: 2px;
}

.events-index .js-events-index .js-search-block-event .right-img-block{
    padding: 7px 0px 0px;
    overflow: hidden;
}
.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.button-text,
.events-index  .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.time{
    color: white;
}
.events-index  .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.time{
    font-size: 10px;
    bottom:10px;
}
.events-index .js-events-index .js-search-block-event{
    border-radius: 20px;
}
.events-index  .js-events-index .js-search-block-event .right-img-block .event-user-block img.star{
    height: 10px;
    width: 10px;
}
#star-ss .rating-stars .filled-stars{
    display: inline-flex;
    padding-top: 5px;
}
.rating-disabled .rating-input{
    height: 0px !important;
}
#star-ss .rating-stars .filled-stars span i{
    color: yellow;
}
.js-events-index .js-search-block-event .right-img-block .event-user-block .empty-stars span i {
  color: #9bc9ff !important;
}
.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block span{
    padding-top: 3px;
}
.events-index  .js-events-index .js-search-block-event .right-img-block .event-user-block-1 span{
    color: #000810;
}
.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.data,
.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1 p.place{
    color: #000810;
}
.events-index .js-events-index .js-search-block-event .right-img-block .event-user-block-1{
    padding-top: 4px;
}
.events-index  .red-opacity-block h4{

    font-size: 14px;
    padding-top: 5px;
}
.events-index  .info-block{
    padding: 0px 0px 5px;
}
.events-index  .red-box-event{
    position: absolute;
    height: 20px; 
    width: 20px;
    background-color:#EC3232;
    top: 2px;
    right: 3px;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    font-family: "Segoe-UI";
    padding-top: 2px;
}
section.status-block .form-group{
    text-align: center;
}
section.status-block .table .top-table td{
    border:0px;
}
section.status-block .table .top-table td.top-left{
     border-top-left-radius:10px;
}
section.status-block .table .top-table td.top-right{
     border-top-right-radius:10px;
}
section.status-block .table .top-table td b{
    font-size: 16px;
    color: #235D66;
    font-weight: 900;
    font-family: "Segoe-UI"
}
section.status-block .table .top-table{
    text-align: center;
}
section.status-block .table .top-table-1 td{
    font-size: 14px;
    color: #95989A;
    font-family: "Segoe-UI";
    font-weight: 600;
    text-align: center;
    border:0px;
}
section.status-block .table .top-table-1 td div{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    white-space: inherit;
    max-width: 95%;
}
 .anulla-button{
    font-size: 14px !important;
    border-radius: 43px !important;
    background-color: transparent !important;
    color: #95989A !important;
    border: 1px solid #168AFD !important; 
    font-weight: 400 !important;
    height: 32px !important;
    margin-top: -5px;
}
section.status-block .prenoto-modal-class .jconfirm-buttons .btn-primary{
    font-size: 12px;

}
.default-host-page .right-block-host .name h6{
    color:#2A2C2D ;
    font-size:22px ;
    font-family: "Segoe-UI";
}
.default-host-page .right-block-host .right{
    padding:25px 40px;
    background-color: #F4F4F4;
    border-radius: 15px;
    margin-top: 15px;
}
.default-host-page .right-block-host .right-button{
    padding: 25px 40px;
}
.default-host-page .right-block-host .location-block .image-block img{
    width: 87%;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    height: 99px;
}

.default-host-page .right-block-host  .adress-block h6{
    color:#95989A ;
    font-weight:200 ;
    font-size:16px ;
    font-family: "Segoe-UI";
    text-transform: uppercase;
    line-height: 25px;
}
.default-host-page .right-block-host  .adress-block{
    padding-top: 25px;
}
.default-host-page .right-block-host  .button-block{
    padding-top: 12px;
}
.default-host-page .right-block-host  .button-block .btn-modifica{
    background-color: #DBB911;
    color: white;
    font-family: "Segoe-UI";
    font-size: 10px;
    font-weight: bold;
    width: 85%;
    border-radius: 43px;
    padding: 8px;
    margin-bottom: 10px;
}
.default-host-page .right-block-host  .button-block {
    text-align: right;
}
.default-host-page .right-block-host  .button-block .btn-location{

    background-color: #DB1111;
    color: white;
    font-family: "Segoe-UI";
    font-size: 10px;
    font-weight: bold;
    width: 85%;
    border-radius: 43px;
    padding: 8px 0px;
}
.default-host-page .btn-aggiungi{
    background-color:#0080FF;
    color: white;
    font-family: "Segoe-UI";
    font-size: 10px;
    font-weight: bold;
    width: 85%;
    border-radius: 43px;
    padding: 8px 0px;
}
.default-host-page section.menu-left{
    padding-left: 5px;
}
.password-page .name h5,
.delete-account .name h5{
    color:#2A2C2D ;
    font-size:24px ;
    font-family:"Segoe-UI";
}
.delete-account .name h5{
    padding-left: 10px;
}
.password-page .right{
    padding:10px 20px;
    background-color: #F4F4F4;
    margin-top: 15px;
 }
.password-page .right-block{
    padding-right: 35px;
  }
.password-page .password-form-block h6{
    display: inline;
    color: #95989A;
    font-size: 11px;
    font-weight: 200;
    font-family: "Segoe-UI";
  }
 .password-page .form-group{
    margin-bottom: 5px;
 }
.password-page .password-form-block text{
    display: inline-block;
    color: #95989A;
    font-size: 11px;
    font-weight: bold;
    font-family: "Segoe-UI";
}
.password-page .password-form-block label{
    font-size: 11px;
    color: #2A2C2D;
    padding-top: 5px;
    font-weight: 400;
    line-height: 18px;
    padding-right: 0px;
}
.password-page form{
    padding-top: 5px;
}
.password-page .password-form-block .label-text{
    text-align: right;
}
.password-page .password-form-block .form-control{
    border-radius: 5px;
    box-shadow: none;
}
.password-page .password-form-block .btn-salva{
    background-color: #0086bf;
    font-size: 12px;
    font-family: "Segoe-UI";
    padding: 5px 12px;
}
.delete-account .right{
    padding:10px 15px;
    background-color: #F4F4F4;
    margin-top: 15px;
    margin-left: 10px;
 }
.delete-account .right-block{
    padding-right: 30px;
}
.delete-account  h6{
    display: inline-block;
    color: #66635c;
    font-size: 13.15px;
    font-weight: 200;
    font-family: "Segoe-UI";
    padding-left: 10px;
  }
.delete-account .select-block{
    padding-left: 0px;
}
.delete-account label{
    font-size: 15px;
    color:#66635c;
    font-weight: 400;
}
.delete-account .form-control{
    font-family: "Segoe-UI";
    font-size: 14px;
    padding: 0px 5px;
}
.delete-account select::after,
.delete-account select::before{
    background:url("/images/icon-select.PNG") no-repeat !important;
    background-size: 15px 15px !important;
    right: 10px !important ;
    top:10px;
}
.delete-account select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}
.delete-account .btn-delete{
    background-color: #f53f5b;
    font-size: 12px;
    font-family: "Segoe-UI";
    padding: 5px 10px;
    border:1px solid  #f53f5b;
}
.delete-account .btn-delete:focus,
.delete-account .btn-delete:active{
    border:1px solid  #f53f5b !important;
    background-color: #f53f5b !important;
    box-shadow: 0 0 0 0.2rem #ffa4ac !important;
}
.delete-account textarea{
    height: 100px;
    border-radius: 0px;
}
.site-content .left-dashboadr-block .avatar-block img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.site-content .left-dashboadr-block .avatar-block {
    padding-right: 0px;
    text-align: center;
}
.site-content .left-dashboadr-block .info-block a{
    display: inline-block;
    color:#168AFD;
    font-size: 13px;
    font-weight: 400;
    font-family: "Segoe-UI"
}
.site-content .left-dashboadr-block .info-block img{
    width: 11px;
}
.site-content .left-dashboadr-block .info-block a:hover,
.site-content .left-dashboadr-block .info-block a:focus{
    text-decoration: none;
}
.site-content .left-dashboadr-block .info-block h6{
    color: #235D66;
    font-family: "Segoe-UI";
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0px;
}
.site-content .left-dashboadr-block .info-block{
      padding-left: 20px;
      padding-right: 5px;
      padding-top: 10px;
}
.site-content .left-dashboadr-block{
    padding-right: 20px;
}
.site-content .left-dashboadr-block section.left-content{
    padding: 20px 3px 70px;
    border: 1px solid #F4F4F4;
    border-radius: 70px;
}
.site-content{
    padding-top: 30px;
}
.site-content .left-dashboadr-block section.verifiche-block,
.site-content .left-dashboadr-block section.activa{
    padding: 0px 12px;
}
.site-content .left-dashboadr-block section.verifiche-block,
.site-content .left-dashboadr-block section.activa{
    padding-left: 35px;
}
.site-content .left-dashboadr-block section.activa h6{
    color: #235D66;
    font-family: "Segoe-UI";
    font-weight:bold;
    font-size: 16px;
}
.site-content .left-dashboadr-block section.verifiche-block .text-icon img{
    margin-top: -3px;
    padding-right: 4px;
    height: 22px;
}
.site-content .left-dashboadr-block section.verifiche-block .text-icon text{
    color: #59c50e;
    font-family: "Segoe-UI";
    font-weight:600;
    font-size: 14.2px;
    padding-left: 4.4px;
}
.site-content .left-dashboadr-block section.verifiche-block .text-icon{
    padding-top: 15px;
}
.site-content .left-dashboadr-block section.verifiche-block .blue-right{
    width: 11px;
}
.site-content .left-dashboadr-block section.verifiche-block .text{
    display: inline-block;
    color:#0080FF;
    font-size: 14.2px;
    font-weight: 400;
    font-family: "Segoe-UI"
}
.site-content .left-dashboadr-block section.activa span{
    color: #95989A;
    font-family: "Segoe-UI";
    font-size: 12px;
    padding-left: 38px;
}
.site-content .right-block .name img{
    height: 26px;
    margin-top: -6px;
    padding-right: 10px;
}
.site-content .right-block .name h2{
    display: inline-block;
    font-size: 20px;
    color: #5C5E60;
    font-family: "Segoe-UI";
    font-weight: 600;
    margin-bottom: 13px !important;
}
.site-content .right-block .dachboadrd-block {
    margin-right: 10px;
}
.site-content .right-block .name{
    padding-left: 30px;
}
.site-content .right-block a{
    font-size: 12px;
    color: #0080FF;
    font-family: "Segoe-UI";
    font-weight: 200;

}
.site-content .right-block a:hover,
.site-content .right-block a:focus,
.site-content .left-dashboadr-block section.verifiche-block .text:hover,
.site-content .left-dashboadr-block section.verifiche-block .text:focus{
    text-decoration: none;
}
.site-content .dachboadrd-block{
    background-color: #F4F4F4;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.site-content .right-block .right-scroll{
    height: 255px;
    overflow: auto;
    position: relative;
}
.site-content .right-block .right-scroll::-webkit-scrollbar-track{
      background-color: #F5F5F5;
}
.site-content .right-block .right-scroll::-webkit-scrollbar{
     width: 8px;
    background-color: #F5F5F5;
}
.site-content .right-block .right-scroll::-webkit-scrollbar-thumb{
     background-color: #818da1;
    border-radius: 3px;
    margin-bottom: 2px;
}
.site-content .right-block-2 .right-scroll{
    height: 170px;
    overflow: auto;
    position: relative;
}
.site-content .read{
    background-color: #fcfbfb;
}
.site-content .dachboadrd-block .d-not-button-block .btn-success.btn-disabled,
.site-content .dachboadrd-block .d-not-button-block .btn-primary.btn-disabled,
.site-content .dachboadrd-block .d-not-button-block .btn-danger.btn-disabled{
    background-color: #e1e8ee;
    border:0px;
}
.site-content .dachboadrd-block-1{
    background-color: #F9FCFF;
}
.site-content .dachboadrd-block img{
    border-radius: 50%;
    width: 100%;
    height: 34px;
}
.site-content .dachboadrd-block  p{
    margin-bottom: 2px;
    font-size: 12px;
    color:#95989A;
    font-family: "Segoe-UI";
    font-weight: 200;
    padding-top: 5px;
}
.site-content .dachboadrd-block .img-block{
    padding: 19px 0px 10px 15px;
    text-align: center;
    overflow: hidden;
}
.site-content .dachboadrd-block  .text-block p a{
    font-size: 11px;
    color:#95989A;
    font-family: "Segoe-UI";
    font-weight: 200;
    margin-bottom: 15px;
}
.site-content .dachboadrd-block  .text-block{
    padding-top: 15px;
    padding-left: 24px;
    padding-right: 0px;
    height: 55px;
    overflow: hidden;
}
.site-content .dachboadrd-block  .d-not-button-block{
    padding-top: 20px;
    text-align: right;
    padding-left: 10px;
    padding-right: 30px;
}
.site-content .dachboadrd-block  .d-not-button-block a,
.site-content .dachboadrd-block  .d-not-button-block button{
    font-size: 10px;
    border-radius: 50px;
    width: 70px;
    font-family: "Segoe-UI";
    font-weight: bold;
    padding: 3px;
    color: white;
}
.site-content .block-bottom-img{
    width: auto !important;
    height: 20px !important;
    left: 0px;
    margin-left: 15px;
}
.site-content .dachboadrd-block  .d-not-button-block .btn-success{
    background-color: #11DB11;
    margin-right: 7px;
    border:1px solid #11DB11;
}
.site-content .dachboadrd-block  .d-not-button-block  .btn-primary{
    background-color: #0080FF;
    margin-right: 7px;
}
.site-content .dachboadrd-block  .d-not-button-block  .btn-danger{
    background-color: #DB1111;
}
.site-content .dachboadrd-block  .delete-icon img{
    height: 25px;
    width: 25px;
}
.site-content .dachboadrd-block  .date p{
    margin-bottom: 0px;
    font-size: 10px;
    color:#95989A;
    font-family: "Segoe-UI";
    font-weight: 200;
    padding-top: 0px;
}
.site-content .dachboadrd-block  .date {
    text-align: right;
    margin-top: -17px;
    padding-right: 30px;
}
.site-content .dachboadrd-block  .delete-icon{
    padding-top: 25px;
    padding-left: 0px;
    text-align: center;
}
.site-content .dachboadrd-block {
    height: 75px;
}
.site-content .right-block-2{
    padding-top: 10px;
}
.site-content .right-block-2 .name h2{
    margin-bottom: 15px;
}
.site-content .right-block-2 .dachboadrd-block img{
    width: 34px;
    height: 34px;
}
.site-content .right-block-2 .name img{
    height: 30px;
}
.site-content  .right-block-2 .dachboadrd-block .img-block{
    padding-left: 10px;
    overflow: hidden;
}
.site-content .right-block-2 .dachboadrd-block .d-not-button-block a,
.site-content .right-block-2 .dachboadrd-block .d-not-button-block button{
    -webkit-appearance:inherit;
    margin-right: 0px !important;
}

.site-content .d-not-found{
    color: #5C5E60;
    font-size: 16px;
    padding: 15px;
    font-family: "Segoe-UI";
    text-align: center;
    padding: 15px 0px 125px;
    overflow: hidden;
}
.scroll{
    position: relative;
    height: 350px;
    overflow: auto;
}
.whigth-right-block .select2-container--krajee .select2-selection--single .select2-selection__rendered{
    color: #9A9B9B !important;
    font-family: "Segoe-UI";
    border-radius: 0px;
    padding-left: 3px !important;
    padding-right: 15px !important;
    padding-top: 1px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 12px;
}
.whigth-right-block .select2-container--krajee .select2-selection--single .select2-selection__arrow{
    border-left: 0px !important;

    background:url("/images/icon-select.png") no-repeat !important;
    background-size: 15px 15px !important;
    right: 10px !important;
    top:10px;
}
.whigth-right-block .select2-container--krajee .select2-selection--single{
    height: 37px !important;
    padding-top: 7.5px !important;
}
.whigth-right-block .select-block{
    padding-left: 50px;
}
.whigth-right-block  .select-block .select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow{

    background:url("/images/icon-select-2.png") no-repeat !important;
    background-size: 15px 15px !important;
    right: 10px !important;
    top:10px;
}
.block-message-right h2.text-center,
.block-message-right h4.text-center{
    margin: 0 auto;
    font-size: 11px;
    color: #95989A;
    padding: 15px 0px 9px;
    font-family: "open-sans"
}